@* labyrinth template file *@

@(size:Int, labyrinth:List[cell], classes:String= "")

@main("Labyrinth"){
    <h2 class="ml-5 p-5"> Labyrinth </h2>
    <div class="d-flex flex-row w-90 h-75 mx-auto mt-5 ">
        <div class="d-flex flex-column w-25 align-items-center">
            <form method="get" action="getForm">
                <label for="size">Labyrinthgröße: <span id="gridSize">@size</span></label>
                <input type="range" name="size" id="size" defaultValue="10" min="4" max="20" list="gridSizeSteps">
                <datalist id="gridSizeSteps">
                    @for(o<-4 to 20 by 1){
                        @if(o%2==0){
                            <option value="@o" label="@o"></option>
                        }
                    }
                </datalist>
                <div class="d-flex justify-content-center">
                    <input class="mt-5" type="submit" value="Start">
                </div>
            </form>
        </div>
        @if(size!=0){
        <table id="labyrinthGrid" class="disableCaret">
            <tbody>
                @for(i<- 0 to size-1){                    
                <tr>
                    @for(j<- 0 to size-1){
                        @defining(labyrinth(i*size+j).bot + " " + labyrinth(i*size+j).left + " " +labyrinth(i*size+j).right) { classlist =>
                            <td class="@classlist"></td>
                        }
                    }
                </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>
}
